<%- include('../partials/header') %>

<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Location</th>
      <th>First Appearance</th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach((e) => { %>
    <tr>
      <td><%= e.firstName %><%= e.lastName %></td>
      <td><%= e.location %></td>
      <td><%= e.firstAppear %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/employees/new">Add New Employee</a>

<%- include('../partials/footer') %>