<%- include('../partials/header') %>

<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Location</th>
      <th>First Appearance</th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach((e) => { %>
    <tr>
      <td><a href="/employees/<%= e.id %>"><%= e.firstName %> <%= e.lastName %></a></td>
      <td><%= e.location %></td>
      <td><%= e.firstAppear.toLocaleDateString('en-US', {year: 'numeric', month: 'short'}) %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/employees/new">Add New Employee</a>

<%- include('../partials/footer') %>