<%- include('../partials/header') %>

<h1><%= title %></h1>
<h2><%= employee.firstName %> <%= employee.lastName %></h2>
<img src="<%= employee.image %>" alt="Project Image">
<h3><%= employee.position %></h3>
<h3><%= employee.firstAppear %></h3>
<p><%= employee.description %></p>

<%- include('../partials/footer') %>