<%- include('../partials/header') %>

<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <th>Office Name</th>
      <th>Location</th>
      <th>First Appearance</th>
    </tr>
  </thead>
  <tbody>
    <% locations.forEach((l) => { %>
    <tr>
      <td><%= l.name %></td>
      <td><%= l.location %></td>
      <td><%= l.firstAppear %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>