<%- include('../partials/header') %>

<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <th>Office Name</th>
      <th>Location</th>
      <th>First Appearance</th>
    </tr>
  </thead>
  <tbody>
    <% locations.forEach((l) => { %>
    <tr>
      <td><a href="/locations/<%= l.id %>"><%= l.name %></a></td>
      <td><%= l.location %></td>
      <td><%= l.firstAppear.toLocaleDateString('en-US', {year: 'numeric', month: 'short'}) %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/locations/new">Add New Location</a>

<%- include('../partials/footer') %>