<%- include('../partials/header') %>

<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>First Appearance</th>
    </tr>
  </thead>
  <tbody>
    <% projects.forEach((p) => { %>
    <tr>
      <td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
      <%# https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString %>
      <td><%= p.firstAppear %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<a href="/projects/new">Add New Project</a>

<%- include('../partials/footer') %>